@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
    
}

main, header, footer {
    width: 100vw;
}

footer{
    background-color: rgba(30, 30, 38, 1);
}

.redes-sociales, .nav-footer {
    color: rgba(255, 255, 255, 1);
}

a {
    text-decoration: none;
}

form {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

input{
    border-radius: 50px;
    padding: 10px 15px 10px;
    width: 50vw;
    height: 35px;
    border: 5px;
    margin-right: 10px;
}

.go-button {
    /* padding: 10px 15px 10px; */
    border-radius: 30px;   
    border: 5px;
    width: 12vw;
    background-color: rgba(139, 72, 191, 1);
    color: white;
        
}

.nav-footer-left, .nav-footer-right {
    list-style: none;
}

.contenedor-listas {
    display: flex;
    margin: 20px 5px;
    justify-content: space-around;
    
}
li{
    padding: 10px;
    margin-left: -15px;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.logo-footer, .copyright{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    color: rgba(140, 140, 148, 1);
   
}

.go-for-it{
    background-color: rgba(60, 221, 243, 1);
    text-align: center;
    color: white;
    height: 266;
    font-size: 1.5rem;
    padding: 20px;
}

.go-for-it > button {
    border-radius: 30px;
    width: 25vw;
    height: 40px;
    margin: 15PX;
    background-color: rgba(35, 44, 80, 1);
    border: 5PX;
    color: white;
    font-size: 0.8rem;
    
    }

.go-for-it > h2 {
    width: 60vw;
    margin: 30px auto 30px;
}






